* {
    margin: 0;
    padding: 0;
}
hr {
    padding: 20px;
}
.fon {
    width: 600px;
   height: 100%;
    background: #B1C9EB;
}
 img {
    width: 600px;
    height: 300px;
}
h1 {
       font-family: 'Lobster', cursive;
    text-align: center;
    color: #0f112c;
}
.four {
       font-family: 'Lobster', cursive;
    text-align: center;
    color: #0f112c;
    margin-top: 50px;
}

p {
    text-align: end;
    margin-right: 10px;
}
.two {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 29px;
}
.fon2 img {
    width: 300px;
    height: 300px;

}
.fon2 {
    width: 600px;
    display: flex;
    background: #B1C9EB;
}
.three {
    margin-top: 20px;
}
.three img {
    width: 200px;
    height: 100px;
    margin: 30px 80px;
}
span {
    font-size: 40px;
}

